@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

table tr td, table tr th {
  @apply px-4;
}

table thead tr {
  @apply h-10;
}

table tbody tr {
  @apply h-10 even:bg-gray-100 odd:bg-gray-200;
}
